.content-height {
  height: calc(100vh - 4rem) !important;
}
.top-65 {
  top: 64px;
}
.top-95 {
  top: 94px;
}
.top-135 {
  top: 135px;
}

.icon-img {
  border: 1px solid;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.active-icon {
  background-color: var(--orange-light-color);
  color: var(--white-color);
  border: 1px solid var(--orange-light-color);
}



.card-1 {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 320px;
}

.card-header {
  padding: 0.75rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  width: 300px;
  height: 150px;
  background-color: var(--text-color);
  color: var(--white-color);
}
.card-body {
  padding: 0.75rem;
  background-color: var(--white-color);
  color: var(--text-color);
}
